@charset "URF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#38E0F2,#44AFF2) ;
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #205373;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #55A63F;
    text-shadow: 1px 1px 0px #3c7a2b41;
}

h2 {
    color: #5C8EF2;
}

p {
    text-align: justify;
}